<div class="">
  <div id='<%="comment-#{comment.id}"%>' class="mx-auto col-11 rounded card-footer comment-footer">
    <a href="/users/<%=comment.user.id%>">
      <%= image_tag comment.user.avatar.url(:comments_thumb), class: "rounded-circle" %>
      <strong><%= comment.user.first_name %>:
      </strong>
    </a>
    <%= comment.content %>
    <span class="float-right">
      <% if comment.user == current_user %>
        <%= link_to "Delete", post_comment_path(post, comment), class: "badge badge-primary", method: :delete, remote: true %>
      <% end %>
    </span>
  </div>
</div>
