<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @comment.message %>
</p>

<p>
  <strong>Users:</strong>
  <%= @comment.users %>
</p>

<p>
  <strong>Posts:</strong>
  <%= @comment.posts %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
