<p class="navbar-text pull-right">
  <% if user_signed_in? %>
    Logged in as
    <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
    |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
    |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
  <% end %>
</p>

<% require 'date' %>
  <% @posts.each do |post| %>

    <div class="card" style="width: 50rem; margin: 5px;">
    <div class="card-header" style="padding: 0px; font-size: 0.8em;">
      <b><%= current_user.first_name %> </b>
    </div>

      <div class="card-body">
        <%= simple_format(post.message) %>
      </div>
      <div class="card-footer quote-footer" style="padding: 0px; font-size: 0.8em;">
        <div class="float-left col-6">
          <a href="#">
            <a href="#">
              <i class="fas fa-thumbs-up"></i>
            </a>
          </a>
        </div>
        <div class="float-right text-right col-6">
          <i>Posted on:
            <%= post.created_at.strftime("%d/%m/%Y at %I:%M%p") %>
          </i>
        </div>
      </div>
    </div>

  <% end %>

  <%= link_to new_post_path do %>
  New post
<% end %>
