
<% require 'date' %>
  <div class="Welcome" style = "margin: 1em">
    <strong><%="Hello, #{user_signed_in? ? current_user.first_name : "Guest"}"%></strong>
  </div>
  <% @posts.each do |post| %>
    <div class="card col-lg-6 col-md-8 col-sm-12" style="margin: 5px;">
    <div class="card-header" style="padding: 0px; font-size: 0.8em;">
      <b class="float-left col-6"> <%= post.user.first_name %> </b>
      <span class="float-right text-right col-6">
        <i>Posted on:
          <%= post.created_at.strftime("%d/%m/%Y at %I:%M%p") %>
        </i>
      </span>
    </div>
      <div class="card-body">
        <%= simple_format(post.message) %>
      </div>
      <div class="card-footer quote-footer" style="padding: 0px; font-size: 0.8em;">
        <div class="col-6">

          <div class="float-left col-3">
            <%= link_to post_likes_path(post), id: "like-#{post.id}", method: :post do %>
              <i class="fas fa-thumbs-up" id ="thumbs-up-<%=post.id%>"></i>
              <% end %>
              <span id="likes-counter-<%=post.id%>">
                <%= post.likes.count if post.likes.count > 0 %>
              </span>
          </div>

          <div class="float-left col-3">
            <%= link_to post_dislikes_path(post), id: "dislike-#{post.id}", method: :post do %>
              <i class="fas fa-thumbs-down" id ="thumbs-down-<%=post.id%>"></i>
              <% end %>
              <span id="dislikes-counter-<%=post.id%>">
                <%= post.dislikes.count if post.dislikes.count > 0 %></span>
          </div>
        </div>



        <!-- comments link div -->
        <div class="float-right col-6 text-center">
            <span data-toggle="collapse" data-target="#comments-footer-<%=post.id%>">Comment</span>
            <span id= '<%="comment-count-#{post.id}"%>'>
              <%= "(#{post.comments.count})" if post.comments.count > 0 %>
            </span>
        </div>
      </div>

      <!-- footer div ends here  -->
      <!-- all comments div -->
      <div class="collapse" id="comments-footer-<%=post.id%>" class="collapse">
        <div id="all-comments-<%=post.id%>">
          <% if post.comments %>
          <%= render post.comments, post: post %>
          <% end %>
        <!-- all comments div -->
        </div>
        <div class="mx-auto col-6">
          <%= form_for([post, post.comments.new], remote: true) do |f| %>
          <%= f.text_field :content, placeholder: 'Comment', required: true, class: "rounded", id: "comment_content_#{post.id}" %>
          <%= f.submit 'Submit', class: "btn btn-secondary btn-xs" %>
          <% end %>
        </div>
      </div>

    </div>
  <% end %>

  <%= link_to new_post_path do %>
  New post
<% end %>
