
<% require 'date' %>
  <div class="Welcome" style = "margin: 1em">
    <strong><%="Hello, #{user_signed_in? ? current_user.first_name : "Guest"}"%></strong>
  </div>
  <% @posts.each do |post| %>
    <div class="card col-lg-6 col-md-8 col-sm-12" style="margin: 5px;">
    <div class="card-header" style="padding: 0px; font-size: 0.8em;">
      <b> <%= post.user.first_name %> </b>
    </div>
      <div class="card-body">
        <%= simple_format(post.message) %>
      </div>
      <div class="card-footer quote-footer" style="padding: 0px; font-size: 0.8em;">
        <div class="float-left col-1">
          <%= link_to post_likes_path(post), id: "like-#{post.id}", method: :post do %>
            <i class="fas fa-thumbs-up" id ="thumbs-up-<%=post.id%>"></i>
            <% end %>
            <span id="likes-counter-<%=post.id%>">
              <%= post.likes.count if post.likes.count > 0 %>
            </span>
        </div>

        <div class="float-left col-1">
          <%= link_to post_dislikes_path(post), id: "dislike-#{post.id}", method: :post do %>
            <i class="fas fa-thumbs-down" id ="thumbs-down-<%=post.id%>"></i>
            <% end %>
            <span id="dislikes-counter-<%=post.id%>">
              <%= post.dislikes.count if post.dislikes.count > 0 %></span>
        </div>

        <div class="float-right text-right col-10">
          <i>Posted on:
            <%= post.created_at.strftime("%d/%m/%Y at %I:%M%p") %>
          </i>
        </div>
      </div>
      <div>
        <% if post.comments %>
          <% post.comments.each do |comment| %>
            <div id='<%="comment-#{comment.id}"%>'>
              <%= comment.content %>
            </div>
            <% if comment.user == current_user %>
             <%= link_to "Delete", post_comment_path(post, comment), method: :delete %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <div>
      <div class="float-right">
        <%= form_for [post, post.comments.new] do |f| %>
        <%= f.text_field :content, placeholder: 'Comment', required: true %>
        <%= f.submit 'Submit' %>
        <% end %>
      </div>
    </div>
    </div>
  <% end %>

  <%= link_to new_post_path do %>
  New post
<% end %>
